// $color-sassy: #cc4397;
// $color-blue: #0059ff;

// .app {
//   color: $color-blue;
//   font-size: 2rem;
//   text-align: center;
//   .sassyDiv {
//     font-size: 10rem;
//     color: $color-sassy;
//   }
// }
.app {
  .left, .right {
    width: 25% !important;
    background-color:#aaa;
  }
  
  .middle {
    width: 50%;
    background-color:rgb(207, 136, 136);
  }
}